<ion-header>
  <ion-toolbar>
    <ion-title>GitHub</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<p>
  <a href="https://github.com/CoolEveryDay/https---github.com-Kklaiber-MobileWebL07HandsOn.git">Link To Cody Travis's GitHub</a>
</p>

  
  <ion-button color="success" expand="full" [routerDirection]="'root'" [routerLink]="['/toc']">Go Back To TOC</ion-button>
  <ion-button color="danger" expand="full" [routerDirection]="'root'" [routerLink]="['/chapter4']">Previous Chapter</ion-button>
</ion-content>
